#NM_TOP_BANNER._banner{
    background-color: #F3F1FE;
    display: block;
    
}

._banner ._banner_in{
    margin: 0 auto; width:1080px;
    
    }
._banner{
    height: 50px;

}

.blind{
    /*.은 클래스*/
    position: absolute;
    overflow: hidden;
    clip:rect(0 0 0 0 );
    margin:-1px;
    width:1px;
    height:1px;
     }

body
{
    margin:0;
padding:0;
}

img{
    border:0;
    vertical-align:top;
    padding-left: 54px;
    width:259px;
    height:49px;
    aspect-ratio: auto 259 / 49;
}

._banner_in_link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);

}
._banner._banner_in {
    position:relative;
    width:1130px;
    margin: 0 aut0;
}

.zzz{
    display: inline-block;
    margin-top: 13px;

}

._banner_in_text2{
    padding-right: 20px;
    font-size: 18px;
    color: black;
    padding-left: 46px;
    display:block;
}

._banner_in_text{
 
        display: inline-block;
        content: "";
        vertical-align: top;
        background-image: url(https://static-whale.pstatic.net/main/sprite-20210713@2x.png);
        background-repeat: no-repeat;
        background-size: 116px 112px;
        margin-top: 14px;
        float: left;
        width: 98px;
        height: 21px;
        background-position: 0 -21px;

}
._banner ._banner_in a {

text-decoration: none;
}
._banner_download {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 49px;
    width: 78px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.5px;
    vertical-align: top;
}

._banner_download span {
        background-color: #255ec8;
        text-align: center;
        margin: 9px 0;
        height: 31px;
        display: block;
        line-height: 31px;
        border-radius: 15px;

    }

    button{
        background-color: transparent;
        padding-left: 10px;
        
    }

    .button_text {

        font-size: 11px;
        height: 13px;
        top: 0;
        right: 0;
        color: #666;
        opacity: .7;
        border:0;
        
    }